
<div class="container">
  <!-- <h2>Movies Watched</h2> -->
  <div 
  cdkDropList 
  #doneMovieList="cdkDropList" 
  [cdkDropListData]="MoviesWatched"
  [cdkDropListConnectedTo]="[moviesList]" 
  class="movie-list" 
  (cdkDropListDropped)="onDrop($event)">
  <div class="movie-block1" *ngFor="let moviesWatched of MoviesWatched" cdkDrag>{{moviesWatched}}</div>
</div>
</div>
<div class="container">
  <h2>The Wall game</h2>
  <div 
  cdkDropList 
  #moviesList="cdkDropList" 
  [cdkDropListData]="content"
  [cdkDropListConnectedTo]="[doneMovieList]" 
  class="movie-list" 
  (cdkDropListDropped)="onDrop($event)">
  <button class="movie-block1" *ngFor="let a of content" cdkDrag>{{a}}</button>
</div>
</div>